

  <form action="/input">
    <div class="form-group">
      <label for="string">Enter a string:</label>
      <textarea id="string" type="text" name="string" class="form-control" rows="3"></textarea>
      <!-- <label for="string">Enter a string:</label>
      <input id="string" type="text" name="string" class="form-control"> -->
    </div>
    <div class="form-group">
      <label for="word-to-count">Enter a word to count:</label>
      <input id="word-to-count" type="text" name="word-to-count" class="form-control">
    </div>

    <label class="checkbox" for="checkbox2">

        <input type="checkbox" value="" id="true" data-toggle="checkbox" checked>

        Include partial word matches-eg <em>java</em> and <em>java</em>script

    </label>

    <button type="submit" class="btn btn-primary btn-lg">Go</button>
  </form>

  <h1>The word: "<%= @input_word %>" appears <%= @result %> times in your text</h1>
